<div class="input-group">
    <input class="form-control" #newTodo (keyup.enter)="addTodo(newTodo.value); newTodo.value=''; ">
    <span class="input-group-btn">
        <button class="btn btn-default" (click)="addTodo(newTodo.value); newTodo.value=''; ">Add</button>
    </span>
</div>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos" (click)="toggleTodo(todo)">
        <span [class.done]="todo.done">{{todo.task}}</span>
    </li>
</ul>